---
layout: master
---

<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <img class="devices" src="{{ site.baseurl }}/images/home/devices_watch.png">
            </div>
            <div class="col-lg-4 opener">
                <h1>Building a community of developers.</h1>
                <p>We support our members through a strong curriculum spanning iOS development and design. After just one semester, our members go on to develop their own
                    apps and receive internships in the industry.</p>
            </div>
        </div>
    </div>
</div>

<div class="bg ">
    <div class="container">
        <div class="row info">
            <div class="col-lg">
                <div class="content">
                    <img src="{{ site.baseurl }}/images/home/zuck.png"/>
                    <h1>Get social.</h1>
                    <p>Join our Facebook group to connect with club officers and fellow club attendees. It's also the best resource for all the latest news about club meetings.</p>
                    <a href="{{ site.facebook_url }}" onclick="openFacebook()" target="_blank">Click to View &rsaquo;</a>
                </div>
            </div>
            <div class="col-lg">
                <div class="content">
                    <img src="{{ site.baseurl }}/images/home/learn.png"/>
                    <h1>Get involved.</h1>
                    <p>We host beginner friendly meetings every Tuesday at 6:00pm in Klaus 1456. For more information on event dates and activities view the schedule.</p>
                    <a href="{{ site.baseurl }}/schedule/">Click to View &rsaquo;</a>
                </div>
            </div>
            <div class="col-lg">
                <div class="content">
                    <img src="{{ site.baseurl }}/images/home/app-store.png"/>
                    <h1>Get started.</h1>
                    <p>View the tutorials page for detailed, step-by-step guides on how to create your own apps. All of the code is up on our GitHub repo as well.</p>
                    <a href="{{ site.baseurl }}{{site.data.tutorials.side-nav.first.folderitems.first.page_url}}">Click to View &rsaquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg thanks">
    <div class="container">
        <!-- <div class="row">
            <div class="col">
                <h1>A Special Thanks</h1>
            </div>
        </div> -->
        <!-- <div class="row med-spacer note">
            <div class="col about-us">
                <h4>We want to recognize all of our sponsors who helped during the 2016-2017 year with tech talks, prizes,
                    and support.</h4>
            </div>
        </div> -->
        <div class="row logos">
            <div class="col">
                <img src="{{ site.baseurl }}/images/home/sponsors/mailChimp-dark.png" />
            </div>
            <div class="col">
                <img src="{{ site.baseurl }}/images/home/sponsors/ingeniousMed-dark.png" />
            </div>
            <div class="col">
                <img src="{{ site.baseurl }}/images/home/sponsors/airwatch-dark.png" />
            </div>
        </div>
    </div>
</div>

<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col about-us">
                <h1 class="meet">Meet the Team</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include team.html %}
            </div>
        </div>
    </div>
</div>

{% include footer.html %}