---
layout: master
---

<div class="container" style="margin-top:calc(72px + 2rem);">
    <div class="row spacer">
        <div class="col">
            <h1 class="display-4 text-center">We're dedicated to building a community of iOS developers here at Georgia Tech.</h1>
        </div>
    </div>
    <div class="row spacer card-space">
        <div class="col-md">
            <a class="clickable-card" href="#">
                <div class="card" style="width: 20rem">
                    <img class="card-img-top" src="../assets/home/wwdc.jpg">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted text-uppercase">Get Started</h6>
                        <h4 class="card-title">Learn Something New</h4>
                        <p class="card-text small-spacer">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md">
            <a class="clickable-card" href="https://www.facebook.com/groups/iosgatech/" target="_blank">
                <div class="card" style="width: 20rem">
                    <img class="card-img-top" src="../assets/home/facebook.jpg">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted text-uppercase">Get Social</h6>
                        <h4 class="card-title">Join the Facebook
                            <br> Group</h4>
                        <p class="card-text small-spacer">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>