---
layout: master
---

<nav class="navbar second-nav fixed-top">
    <div class="container">
        <a class="navbar-brand" data-toggle="collapse" href="#nav-collapse" aria-expanded="false" aria-controls="#nav-collapse">Tutorials</a>
        <!-- <div class="nav justify-content-end">
            <button class="btn" type="button" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false" aria-controls="nav-collapse">+</button>
        </div> -->
    </div>
</nav>
<div class="second-nav-collapsible">
    <div class="collapse" id="nav-collapse">
        <div class="container">
            {% include tutorial-dropdown.html %}
        </div>
    </div>
</div>



<div class="container top-space-on-fixed">
    <div class="row spacer">
        <div class="col-lg-3 side-menu">
            <h1 class="display-4 page-header">Tutorials</h1>
            {% include tutorial-sidenav.html %}
        </div>
        <div class="col-lg-8 offset-lg-1">
            <div class="post-header">
                <h6 class="sub-heading">Part {{ page.part }}</h6>
                <h1 class="heading">{{ page.title }}</h1>
            </div>
            <div class="post-content">
                {{ content }}
            </div>
            <div class="post-footer">
                <div class="pill">
                    
                </div>
            </div>
        </div>
    </div>

</div>